// use @import {path}
$color-purple-1: #0c134f;
$color-purple-2: #1d267d;
$color-purple-3: #5c469c;
$color-purple-4: #d4adfc;

$color-green-1: #bfdb38;
$color-green-2: #a5d6a7;

$color-user-1: #6c5070;

$color-red-1: #ff1e00;


$color-grey-1:#27374D;
$color-grey-2:#526D82;
$color-grey-3:#9DB2BF;
$color-grey-4:#DDE6ED;