@import 'variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply p-0 m-0 box-border;
  }
  html {
    @apply text-[62.5%] scroll-smooth;
  }
  h1 {
    @apply text-5xl m-2 p-2;
  }
  label,
  p {
    @apply text-[1.5rem];
  }
  a {
    @apply text-blue-500 font-black hover:underline;
  }
  li {
    @apply text-gray-800;
  }
  input:not([type='checkbox']) {
    padding: 0.6rem;
    border: 0.5px solid rgb(204, 204, 204);

    transition: all 0.2s ease-in-out;
    &:focus {
      outline-color: rgba(201, 201, 201, 0.345);
      transform: translate(0.6rem, 0.6rem);
    }
  }
  textarea {
    padding: 0.6rem;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0.6rem 0.6rem $color-purple-4;

    transition: all 0.2s ease-in-out;
    &:focus {
      outline-color: rgb(201, 201, 201);
      transform: translate(0.6rem, 0.6rem);
      box-shadow: 0 0 $color-purple-4;
    }
  }
}
@layer components {
  .subscript {
    @apply text-sm text-gray-500 mx-2;
  }
  .btn {
    padding: 0.6rem;
    border: 1px solid rgb(204, 204, 204);
    transition: all 0.2s ease-in-out;
    min-width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn:hover {
    transform: translate(0.6rem, 0.6rem);
  }
}

@layer utilities {
  .btn--primary {
    box-shadow: 0.6rem 0.6rem $color-purple-2;
    &:hover {
      box-shadow: 0 0 $color-purple-2;
    }
  }
  .btn--secondary {
    box-shadow: 0.6rem 0.6rem $color-purple-4;
    &:hover {
      box-shadow: 0 0 $color-purple-4;
    }
  }
  .btn--success {
    box-shadow: 0.6rem 0.6rem $color-green-1;
    &:hover {
      box-shadow: 0 0 $color-green-1;
    }
  }
  .btn--danger {
    box-shadow: 0.6rem 0.6rem $color-red-1;
    &:hover {
      box-shadow: 0 0 $color-red-1;
    }
  }
  .input--primary {
    box-shadow: 0.6rem 0.6rem $color-purple-3;
    &:focus {
      box-shadow: 0 0 $color-purple-3;
    }
  }
  .textarea--user,
  .input--user {
    box-shadow: 0.6rem 0.6rem $color-user-1;
    &:focus {
      box-shadow: 0 0 $color-user-1;
    }
  }
  .input--secondary {
    box-shadow: 0.6rem 0.6rem $color-purple-4;
    &:focus {
      box-shadow: 0 0 $color-purple-4;
    }
  }
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
* ::selection {
  background: $color-green-1 !important;
  color: $color-purple-2;
}
* ::-moz-selection {
  background: $color-green-1 !important;
}
body {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
// For Progess Bar
#nprogress .bar{
  background-color: $color-green-1;
  box-shadow:none;
  height: 3px;
  z-index: 1031;


}
#nprogress .peg{
  box-shadow: none;
}